#bar{
    height: 95px;
    width:95px;
    background-color:rgba(255,2,2, 0.5);
    color: black;
}
main{
    height: 100px;
    width:100px;
    background-color: aqua;
}
#bar1{
    height: 400px;
    width:400px;
    background-color:rgba(255,2,2, 0.5);
    color: black;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
}